{% extends 'base.html.twig' %}
{% block title %}Jul Blain - Accueil {% endblock %}

{% block body %}

    <section class="w-100" id="home">
        <div class="container h-100 ">
            <div class="row h-100 w-100 ">
               <div class="col-1 h100 arrowHello">
                    <p class="arrowTxt arrowTxt2">Compétences</p>
                    <img src="{{ asset('img/arrowPink.jpg') }}" alt="" class="arrowImg">
                </div>

                <div class="col-11 h-100" id="homePresentation">
                    <canvas id="homeCanvas" class="w-100 h-100"></canvas>

                    <div id="helloWordBox" class="w-75 ">
                        <span class="helloWord invisibleH">Hello</span><br>
                        <span class="helloWord invisibleH">Hello</span> <br>
                        <span class="helloWord invisibleH">Hello</span><br>
                        <span class="helloWord invisibleH">World!</span>
                    </div>

                                        <h1 id="homeTitle">
                                          <span class="text-wrapper">
                                            <span class="letters " id="myName">Jul Blain</span> <br>
                                            <span class="letters ">Développeur Web</span>
                                          </span>
                                        </h1>
                                    </div>
                                </div>
                            </div>

        <div id="btnHappy">
            <!-- <div id="btnHappyTxt" > BOUTON de bonne humeur. . .</div> -->
        </div>
    </section>


    <section class="w-100" id="homeMe">
        <div class="container h-100 ">
            <div class="row h-100 w-100 ">
                <div class="col-1 h100 arrowHello">
                    <h2 class="arrowTxt arrowTxt1">Compétences</h2>
                    <p class="arrowTxt arrowTxt2">Projets</p>
                    <img src="{{ asset('img/arrowPink.jpg') }}" alt="" class="arrowImg">
                </div>


                <div class="col-11" id="mePresentation">
                    <canvas id="meCanvas" class="w-100 h-100"></canvas>
                    <div id="homeLanguages" class="homeMeBtnBox">
                        <svg  id="svgLanguages" viewBox="0 0 200 200" class="homeMeBtnSvg">
                                <path  d="
                               M 100, 100
                                m -75, 0
                                a 75,75 0 1,0 150,0
                                a 75,75 0 1,0 -150,0 z
                            " id="pathLanguages" class="pathSvg"/>

                            <text id="textLanguages" >
                                <textPath id="textPathLanguages" class="txtSvg" xlink:href="#pathLanguages">
                                    <tspan dy="10">Langage...</tspan>
                                </textPath>
                            </text>
                        </svg>


                       <div class="homeMaskBox" id="homeMaskBoxLanguages">
                            <ul class="homeMaskList">
                                <li class="homeMaskItems homeMaskItemsPhp"><i class="fab fa-php"></i></li>
                                <li class="homeMaskItems homeMaskItemsJs"><i class="fab fa-js"></i></li>
                                <li class="homeMaskItems homeMaskItemsCss"><i class="fab fa-css3-alt"></i></li>
                                <li class="homeMaskItems homeMaskItemsHtml"><i class="fab fa-html5"></i></li>
                                <li class="homeMaskItems homeMaskItemsSass"><i class="fab fa-sass"></i></li>
                            </ul>
                        </div>

                    </div>

                    <div id="homeLibrairy" class="homeMeBtnBox">
                        <svg  id="svgLibrairy" class="homeMeBtnSvg"  viewBox="0 0 200 200">
                            <path  d="
                               M 100, 100
                                m -75, 0
                                a 75,75 0 1,0 150,0
                                a 75,75 0 1,0 -150,0 z
                            " id="pathLibrairy" class="pathSvg"/>
                            <text id="textLibrairy" >
                                <textPath id="textPathLibrairy" class="txtSvg" xlink:href="#pathLibrairy">
                                    <tspan dy="10">| Framework | Library | CMS </tspan>
                                </textPath>
                            </text>
                        </svg>

                       <div class="homeMaskBox" id="homeMaskBoxLibrairy">
                            <ul class="homeMaskList">
                                <li class="homeMaskItems homeMaskItemsSymf" ><i class="icon-symfony"></i></li>
                                <li class="homeMaskItems homeMaskItemsWP"><i class="icon-wordpress"></i></li>
                                <li class="homeMaskItems homeMaskItemsBootstrap"><i class="icon-bootstrap"></i></li>
                                <li class="homeMaskItems homeMaskItemsJquery"><i class="icon-jquery"></i></li>
                            </ul>
                        </div>
                    </div>

                    <div id="homeTool" class="homeMeBtnBox">
                        <svg  id="svgTool" class="homeMeBtnSvg"  viewBox="0 0 200 200">
                            <path  d="
                               M 100, 100
                                m -75, 0
                                a 75,75 0 1,0 150,0
                                a 75,75 0 1,0 -150,0 z
                            " id="pathTool" class="pathSvg"/>
                            <text id="textTool" >
                                <textPath id="textPathTool" class="txtSvg" xlink:href="#pathTool">
                                    <tspan dy="10">Outils...</tspan>
                                </textPath>
                            </text>
                        </svg>

                        <div class="homeMaskBox" id="homeMaskBoxTool">
                             <ul class="homeMaskList">
                                 <li class="homeMaskItems homeMaskItemsSql"><i class="icon-mysql"></i></li>
                                 <li class="homeMaskItems homeMaskItemsApache"><i class="icon-apache"></i></li>
                                 <li class="homeMaskItems homeMaskItemsGit"><i class="icon-git"></i></li>
                                 <li class="homeMaskItems homeMaskItemsUbuntu"><i class="icon-ubuntu"></i></li>
                                 <li class="homeMaskItems homeMaskItemsAdobe"><i class="fab fa-adobe"></i></li>
                             </ul>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w-100" id="homeProjects">
        <div class="h-100 container">
            <div class="row h-100 w-100">
                <div class="col-1 h-100 arrowHello">
                    <h2 class="arrowTxt arrowTxt1">Projets</h2>
                    <p class="arrowTxt arrowTxt2">Contact</p>
                    <img src="{{ asset('img/arrowPink.jpg') }}" alt="" class="arrowImg">
                </div>

                <div class="col-11 h-100" id="homeProjectsBox">

                    <div id="homeProjects">
                        <div id="homeProjectsColor"></div>
                        <div class="homeProjectsSlide">
                            <a class="homeProjectsLink">
                                <img src="{{ asset('img/home/test1.jpg') }}" alt="">
                            </a>
                            <a class="homeProjectsLink">
                                <img src="{{ asset('img/home/test1.jpg') }}" alt="">
                            </a>
                            <a class="homeProjectsLink">
                                <img src="{{ asset('img/home/test1.jpg') }}" alt="">
                            </a>
                        </div>
                    </div>

                    <div id="homeProjectsCounter">
                        <div id="homeProjectsCount"></div>
                        <div id="homeProjectsCounterArrows">
                            <span><i id="homeProjectsArrowLeft" class="fas fa-caret-left"></i></span>
                            <span><i id="homeProjectsArrowRight" class="fas fa-caret-right"></i></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="w-100" id="homeContact">
        <div class="h-100 w-100 container">

            <div class="row h-100 w-100">
                <div class="col-1 h-100 arrowHello">
                    <h2 class="arrowTxt arrowTxt1">Contact</h2>
                </div>
                <div class="col-11 h-100">
                    <div id="homeContactCanvasBox" class=" h-100 w-100">
                        <canvas id="homeContactCanvas" class="w-100 h-100"></canvas>
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}
                    <div class="form-group">
                        <div id="contactFirstname" class="contactRow">{{ form_row(form.firstname) }}</div>
                        <div id="contactLastname" class="contactRow">{{ form_row(form.lastname) }}</div>
                        <div id="contactEmail" class="contactRow">{{ form_row(form.email) }}</div>
                    </div>
                    <div class="form-group">
                        <div id="contactObject" class="contactRow">{{ form_row(form.object) }}</div>
                        <div id="contactMessage" class="contactRow">
                            {{ form_rest(form) }} <!-- message -->
                        </div>
                    </div>

                    <div class="form-group" id="homeContactBtn">
                        <button type="submit" class=" btn btn-primary" id="homeContactBtnSend">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script src="http://127.0.0.1:8000/js/home/homeHomeCanvas.js"></script>

    {#for moving letters#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- btn hello home  and popper js -->
    <script src="http://127.0.0.1:8000/js/home/homeHomeHello.js"></script>

    <!-- canvas triangle -->
    <script src="http://127.0.0.1:8000/js/home/homeCompetencesCanvas.js"></script>
    <script src="http://127.0.0.1:8000/js/home/homeCompetencesBtnCircle.js"></script>
    <script src="http://127.0.0.1:8000/js/home/homeContactCanvas.js"></script>

    <!--home projects slider -->
    <script src="http://127.0.0.1:8000/js/home/homeProjectsSlider.js"></script>



{% endblock %}